.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
input[type=radio] {
  border: 1px solid rgb(100, 99, 99);
  padding: 0.3em;
  -webkit-appearance: none;
  border-radius: 20%;
  margin-right: 5px;
}*/

.tabelbuah {
  font-family: serif;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
}

.tabelbuah tr th {
  background-color: #15b7b9;
  color: #f5f5f5;
}


.tabelbuah tr td {
  background-color:#f5f5f5;
  color : #f57170
}

.tabelnama {
  padding-left: 100px;
  padding-right: 100px;
}

.tabelharga {
  padding-left: 70px;
  padding-right: 70px;
}

.tabelberat {
  padding-left: 70px;
  padding-right: 70px;
}

.judul{
  text-align: center;
  color: #f57170;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button,.buttonsubmit{
  background-color: #f57170;
  border: none;
  color:#f5f5f5 ;
  padding: 10px;
  border-radius: 13px;
  margin: 10px;
  cursor: pointer;
}

label{
  color: #15b7b9;
  font-weight: bold;
}

input[type=text]{
  background-color: #f5f5f5;
  border: 2 px;
  border-color: #15b7b9;
  border-radius: 10px;
  margin-left: 10px;
}